NEXT_PUBLIC_CHAIN_ID=50312
NEXT_PUBLIC_RPC_URL=https://api.infra.testnet.somnia.network
NEXT_PUBLIC_WS_RPC_URL=wss://api.infra.testnet.somnia.network/ws
NEXT_PUBLIC_INDEXER_URL=https://dev.smk.somnia.host/v1/graphql
NEXT_PUBLIC_WALLETCONNECT_ID=
NEXT_PUBLIC_EXPLORER_URL=https://shannon-explorer.somnia.network
NEXT_PUBLIC_SESSION_FACTORY=0xa34c19019d6958F2a331322eb84C0923abc52486
NEXT_PUBLIC_MARKET_ADAPTER=0x6551503d37f739494534f51D5Bbcb3f90077D4f2

# Server-only deployment key. Never expose this as NEXT_PUBLIC_*.
PRIVATE_KEY=
COLLATERAL_ADDRESS=
BINARY_MODULE_ADDRESS=0x3ecC694Cef705358864a646142ac17A90E29e388
OUTCOME_TOKEN_ADDRESS=0xB52c5934113Af5c0Bb20eb3C72290C8215f755b9
MAX_YES_PRICE=990000
MAX_NO_PRICE=990000
SOMNIA_EXPLORER_API_KEY=
